.container {
    max-width: 900px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.about {
    max-width: 820px;
    width: 100%;
}


/* img {
    max-width: 100%;
    height: auto;
} */

.main {
    margin-top: 80px;
}



footer {
    text-align: center;
    font-weight: 300;
    color: #7F7F7F;
    font-size: 13px;
    margin-bottom: 20px;
}

body {
    font-family: 'Roboto', Helvetica, Arial, serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto', Helvetica, Arial, serif;
    font-weight: 400;
}


  
.navbar-default {
    background-color: #045a8d;
}

.about {
    font-size: 15px;
}



.l {
    font-weight: 300 !important;
}

.m {
    font-weight: 500 !important;
}

.n {
    font-weight: 400 !important;
}

.b {
    font-weight: 700 !important;
    color: black;
}

.i {
    font-style: italic !important;
}

.wrapper {
    max-width: -webkit-calc(800px - (30px * 2));
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px
}


img.pub_teaser {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 20px;
    border-width: 1px;
    border-color: #d9d9d9;
    border-style: solid;
}

img.pub_teaser.no_shadow {
    box-shadow: none;
    border: none;
}

span.pub_title {
    font-weight: 700;
    font-size: 16px;
    color: black;
}

span.pub_authors {
    font-weight: 300;
    font-size: 14px;
}

span.pub_myname {
    font-weight: 400;
    font-size: 14px;
}

span.pub_type {
    font-weight: 300;
    color: #7F7F7F;
    font-size: 14px;
}

span.pub_downloads {
    font-weight: 300;
    color: #7F7F7F;
    font-size: 12px;
}

span.pub_award {
    color: #de2d26;
    font-weight: 500;
}

span.pub_me {
    font-weight: 500;
}

td.table_title {
    padding-left: 20px;
    font-weight: 700;
    color: black;
}

td.table_desc {
    padding-left: 20px;
    font-weight: 300;
}

td.table_date {
    text-align: right;
    font-weight: 300;
}

td.table_img {
    padding-left: 20px;
}

td.news_title {
    padding-left: 20px;
}

td .news_hl {
    font-weight: 400;
    color: #2b8cbe;
}

tr.table_item td {
    padding-top: 10px;
}

table.course{
    margin-bottom: 30px;
    width: 100%;
    text-align: left;
    color: #3f3f3f;
    border-collapse: collapse;
    border: 1px solid #e8e8e8
}

.course tr:nth-child(even){
    background-color: #f7f7f7
}

th.course, td.course{
    padding: 10px 15px
}


.course th{
    background-color: #f0f0f0;
    border: 1px solid #dedede;
    border-bottom-color: #c9c9c9
}

.course td{
    border: 1px solid #e8e8e8;
    padding: 2px
} 


.inner_table {
    font-size: 12px;
    width: 100%
}

.main a:link,
.main a:visited,
.main a:hover,
.main a:active {
    color: #2b8cbe;
    text-decoration: none;
    border-bottom: 1px #2b8cbe dotted;
}

.main a:hover {
    color: #253494;
    text-decoration: none;
    border-bottom: 1px #253494 dotted;
}

.about a,
.about a:link,
.about a:visited,
.about a:active {
  color: inherit;
  text-decoration: none;
  border-bottom: none;
}

.about a:hover {
    color: #2b8cbe;
    text-decoration: none;
    border-bottom: 1px #2b8cbe dotted;
}

a:focus {
    outline: 0;
}

a.img:link {
    border-bottom: none;
}

#publications {
    visibility: hidden;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

span.pub_award a:link,
span.pub_award a:visited,
span.pub_award a:hover,
span.pub_award a:active {
    color: #de2d26;
    font-weight: 500;
    border-bottom: 1px #de2d26 dotted;
}

span.pub_award a:hover {
    color: #C41610;
    text-decoration: none;
    border-bottom: 1px #C41610 dotted;
}

#home {
    top: -80px;
}

.label-default {
    background-color: #969696;
}

@media screen and (max-width: 767px) {
    .main {
        margin-top: 0;
    }
    .navbar {
        display: none;
    }
}

.hiring {
    background: #ffffee;
    color:red;
    font-size: 17px;
    border: 1px solid #c0c0c0;
    padding: 0.3em 0.5em;
}

/* ---------- 小屏幕适配 ---------- */
@media screen and (max-width: 992px) {
    .navbar {
        display: block;
    }
    .navbar .nav > li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
}

@media screen and (max-width: 768px) {
    .main {
        margin-top: 60px;
    }
    body {
        font-size: 14px;
    }
    .about {
        text-align: center;
    }
    .about img {
        float: none;
        margin: 0 auto 15px auto;
        display: block;
    }
    .pub img {
        float: none;
        margin: 0 auto 10px auto;
        display: block;
    }
}

@media screen and (max-width: 480px) {
    h3 {
        font-size: 20px;
    }
    .pub_title {
        font-size: 14px;
    }
    footer {
        font-size: 12px;
    }
}


